@{
    ViewData["Title"] = "Home Page";
}
@using LinkShortenerWeb.Models
@model LinkShortenerWeb.Models.ShortenerModel


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @using (Html.BeginForm("CreateShortening", "Home", FormMethod.Post))
    {
    <div >
        @Html.LabelFor(m => m.Link)
        @Html.TextBoxFor(m => m.Link)
        @Html.LabelFor(m => m.Slug)
        @Html.TextBoxFor(m => m.Slug)
        <input type="submit" value="Submit" />
    </div>
    }

</div>

